body{
    background-color:wheat;
}

.wrapper{
    display:flex;
    text-align: center;     
    }


h1{
    text-align: center;
}
#gamearea{
    border:2px solid black;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height:500px;
    width:800px;
    margin:auto;}

#gamesquare{
    background-color: blue;
}

#square{
    background-color:green;
    border:2px solid black;
}

#reset{
    display:block;
    margin-top:20px;
    height:20px;
    width:100px;
    align-self:center;
    justify-self:center;
    margin:auto;
    margin-top:20px;

}

.wrapper{
    display:flex;
    flex-direction:row;
    margin-top:20px;
    gap:10px;
}

#form{
    display:flex;
    margin-top:20px;
    flex-direction:row;
}

.bigwrap{
    gap:10px;
    display:flex;
    flex-direction:column;
    margin:auto;
    border:6px black dotted;
    font-size:20px;
    height:100px;
}
#submit{
    display:flex;
    width:80px;
    margin-top:200px;
    margin:auto;
}